/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
//#include <behaviors/mouse_keys.dtsi>

#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp N1 &kp N1 &kp N1 &kp N1 &kp N1 &kp N1 &kp N1            &kp N1 &kp N1 &kp N1 &kp N1 &kp N1 &kp N1 &kp N1 
&kp N1 &kp N1 &kp N1 &kp N1 &kp N1 &kp N1 &kp N1            &kp N1 &kp N1 &kp N1 &kp N1 &kp N1 &kp N1 &kp N1 
&kp N1 &kp N1 &kp N1 &kp N1 &kp N1 &kp N1 &kp N1            &kp N1 &kp N1 &kp N1 &kp N1 &kp N1 &kp N1 &kp N1 
&kp N1 &kp N1 &kp N1 &kp N1 &kp N1 &kp N1 &kp N1            &kp N1 &kp N1 &kp N1 &kp N1 &kp N1 &kp N1 &kp N1 
&kp N1 &kp N1 &kp N1 &kp N1 &kp N1 &kp N1 &kp N1            &kp N1 &kp N1 &kp N1 &kp N1 &kp N1 &kp N1 &kp N1 
                     &kp N1 &kp N1 &kp N1 &kp N1            &kp N1 &kp N1 &kp N1 &kp N1  
              &kp N1 &kp N1 &kp N1 &kp N1 &kp N1            &kp N1 &kp N1 &kp N1 &kp N1 &kp N1
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_1 {
            bindings = <
&trans &trans &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans &trans &trans 
                     &trans &trans &trans &trans            &trans &trans &trans &trans
              &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans

            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_2 {
            bindings = <
&trans &trans &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans &trans &trans 
                     &trans &trans &trans &trans            &trans &trans &trans &trans
              &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_3 {
            bindings = <
&trans &trans &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans &trans &trans 
                     &trans &trans &trans &trans            &trans &trans &trans &trans
              &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};

